* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* quy tắc
1.ngoài vào trong
2.trên xuống dưới
3.tổng quan đến chi tiết
*/

/* 
1.vị trí
2.kích thước (width, height)
3.màu sắc
4.kiểu dáng(kiểu chữ, hình tròn, vuông)
 */
.text-center {
    text-align: center !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;

}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.mt-8 {
    margin-top: 8px;
}
.mt-16{
    margin-top: 16px;
}
.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-third {
    width: 33.33333%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.btn {
    display: inline-block;
    margin: 15px 0;
    padding: 11px 17px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    border: none;
    appearance: none;
    -webkit-appearance: none;
}



.clear {
    clear: both
}

.text-white {
    color: #fff !important;
}

#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 1;
    


}

#nav {
    display: inline-block;
}

#nav,
.subnav {
    list-style-type: none;
}

#nav>li {
    display: inline-block;
}
#nav>li:first-child{
    display: inline-block;
}
#nav li {

    position: relative;
}

#nav li:hover .subnav {
    display: block;
}



#nav .subnav li:hover a,
#nav>li:hover>a {
    color: #000;
    background-color: #ccc;
}

#nav>li>a {
    text-transform: uppercase;
    color: white;
}

#nav li a {

    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;


}

#nav .subnav {
    display: none;
    background-color: #fff;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 160px;
    top: 100%;
    left: 0;
}

#nav .subnav a {
    padding: 0 12px;
    color: #000;
    display: block;
    line-height: 38px;


}

#nav .nav-arrow-down {
    font-size: 10px;
}
#header .mobile-menu-btn{
    position: absolute;
    top: 0;
    right: 0;
    display: none;
}
#header .mobile-menu-btn:hover{
    background-color: #ccc;
    
}
#header .mobile-menu-btn:hover .menu-icon{
    color: #000;
}
#header .mobile-menu-btn,
#header .search-btn {
    float: right;
    padding: 0 21px;


}
#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}
#header .menu-icon,
#header .search-icon {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
    
}
#slider {
    margin-top: 46px;
    padding-top: 50%;
    background: url('/w3_theband/assets/img/slider/slider1.jpg') top center / cover no-repeat;
    position: relative;

}

#slider .text-content {
    position: absolute;
    bottom: 47px;
    color: #fff;
    text-align: center;
    width: 100%;
}

#slider .text-heading {
    margin: 10px 0;
    font-size: 24px;
    font-weight: 500;
}

#slider .text-discription {
    margin-top: 25px;
    font-size: 15px;
    text-shadow: 0 0 1px #000;
}



#content .content-section {
    width: 800px;
    max-width: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding: 64px 16px;


}

#content .section-heading {
    font-size: 30px;
    font-weight: 500;
    margin: 10px 0;
    letter-spacing: 4px;
}

#content .section-sub-heading {
    font-size: 15px;
    margin: 15px 0;
    font-style: italic;
    opacity: 0.6;

}

#content .about-text {
    text-align: justify;
    margin: 15px 0;
    font-size: 15px;
    line-height: 1.5;
}

#content .about-img {
    margin-top: 48px;
    display: inline-block;
    padding-bottom: 32px;

}

#content .name {

    margin: 15px 0;
    font-size: 15px;
    line-height: 1.5;

}

.img-detail {
    border-radius: 4px;
    width: 60%;
}

/* Tour section */
#content .tour-section {
    width: 100%;
    display: inline-block;
    background-color: #000;

}

.book-ticket {
    background-color: #fff;
    margin-top: 40px;
}

.book-ticket li {
    padding: 11px 16px;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
    color: #757575;
    text-align: left;
    list-style-type: none;
}

.book-ticket .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 4px 3px;
    margin-left: 16px;
}

.book-ticket .quanlity {
    background-color: #000;
    color: #fff;
    float: right;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    margin-top: -3px;
}

/* Buy tickets */
.place-list {
    margin-top: 16px;
    margin-bottom: 48px;
}



.place-img:hover {
    opacity: 0.5;
}

.place-img {
    width: 100%;
    display: block;
}

.place-content {
    background-color: #fff;
    color: #000;
    text-align: left;
    padding: 0 16px;
    font-size: 15px;

}

.place-heading {
    padding-top: 15px;
    font-size: 15px;
    font-weight: 600px;
}

.place-time {
    margin-top: 15px;
    color: #757575;
}

.place-dec {
    margin-top: 15px;
    line-height: 1.4;
}


.btn:hover {
    background-color: #ccc;
    color: #000;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.open {
    display: flex !important;
}

.modal-container {
    font-family: "Segoe UI", Arial, sans-serif;
    background: #fff;
    width: 900px;
    max-width: calc(100%-32%);
    min-height: 200px;
    position: relative;
    animation: modalFaceIn ease 0.5s;
}

header.modal-header {
    background: #009688;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
}

.iconbag {
    margin-right: 16px;
}

.modal-close:hover {
    color: #000;
    background-color: #ccc;
}

.modal-close {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 12px;
    cursor: pointer;
}

.modal-body {
    padding: 16px;
}

label.modal-label {
    display: block;
    font-size: 15px;
    margin-bottom: 12px;
}

input.model-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;

}

h4 {
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 400;
}

button#buy-ticket:hover {
    opacity: 0.9;
}

button#buy-ticket {
    width: 100%;
    padding: 18px;
    color: #fff;
    background-color: #009688;
    border: 0;
    cursor: pointer;
}

footer.modal-footer {
    padding: 16px;
    text-align: right;

}

footer.modal-footer a {
    color: #2196F3;
}

/* CONTACT FORM */
.contact-content {
    text-align: left !important;
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.6;
}

.contact-fill {
    font-size: 15px;
}

.contact-info i {
    width: 30px;
    display: inline-block;
}
.contact-info a{
    color: #101aef;
    opacity: 0.8;
}
.contact-info a:hover{
    opacity: 1;
}

.contact-fill .form-control {
    padding: 12px;
    border: 1px solid #ccc;
    width: 100%;
}

.input-send {
    margin-top: 16px;
    float: right;

}

.input-send:hover {
    background-color: #ccc;
    color: #000;

}

.map-img {
    width: 100%;
    filter: grayscale(50%);
    display: block;
}

#footer {
    padding: 64px 16px;
    text-align: center;
    opacity: 0.6;
    background-color: #f1f1f1;


}

#footer a:hover,
#footer i:hover {
    opacity: 0.6;

}

#footer>a {
    text-decoration: none;
}

#footer i {
    font-size: 24px;
}

#footer p {
    margin-top: 15px;
    margin-bottom: 15px;
}

#footer a {
    background-color: transparent;
    color: inherit;

}


@keyframes modalFaceIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}